.singleqe{
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
}
.qtitle{
    font-size: 40px;
    font-weight: 800;
    padding: 10px 0;
}
.qdesc{
    font-size: 30px;
    padding: 10px 70px 0;
}

.qdisp{
    display: flex;
    gap: 20px;
}

.singleqe h1{
    color: black;
    padding: 30px 0;
    font-size: 50px;
    font-weight: 800;
}
.singleqe h2{
    padding: 30px 0;
    font-size: 50px;
}
