.allconta{
    height: 300px; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling if any */
  margin-top: 30px;
}
.allan{
    display: flex;
    gap: 100px;
    align-items: center;
}