.footer-container{
    background-color: #3B455A;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* color: white; */
    padding-right: 200px;
    padding-left: 200px;
    height: 200px;
}
.footer div {
    color: rgb(162, 160, 160);
}
.footer div a{
    color: rgb(162, 160, 160);
    text-decoration: none;
    margin: 0 1rem;
}
.footer div a:hover{
    color: white;
}
h1{
    color: white;
    padding-bottom: 20px;
}
.link{
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}
.icon{
    padding-top: 20px;
}

